{
  "name": "@<%= workspace %>/backend",
  "exports": {
    "./confect/_generated/refs": "./confect/_generated/refs.js",
    "./convex/_generated/api": {
      "types": "./convex/_generated/api.d.ts",
      "default": "./convex/_generated/api.js"
    }
  },
  "scripts": {
    "codegen": "WORKOS_CLIENT_ID=\"$(bun --eval 'process.stdout.write(crypto.randomUUID())')\" WORKOS_API_KEY=\"$(bun --eval 'process.stdout.write(crypto.randomUUID())')\" WORKOS_WEBHOOK_SECRET=\"$(bun --eval 'process.stdout.write(crypto.randomUUID())')\" confect codegen",
    "dev": "WORKOS_CLIENT_ID=\"$(bun --eval 'process.stdout.write(crypto.randomUUID())')\" WORKOS_API_KEY=\"$(bun --eval 'process.stdout.write(crypto.randomUUID())')\" WORKOS_WEBHOOK_SECRET=\"$(bun --eval 'process.stdout.write(crypto.randomUUID())')\" confect dev"
  },
  "nx": {
    "tags": ["type:package", "scope:backend"],
    "targets": {
      "typecheck": {
        "command": "node ../../node_modules/@typescript/native/bin/tsc --noEmit -p tsconfig.json",
        "options": {
          "cwd": "{projectRoot}"
        }
      }
    }
  },
  "private": true,
  "type": "module"
}
