{
  "extends": "../../tsconfig.base.json",
  "include": [
    "vitest.config.ts",
    "confect/**/*.ts",
    "convex/**/*.ts",
    "domain/**/*.ts",
    "errors/**/*.ts",
    "features/**/*.ts",
    "infra/**/*.ts",
    "schemas/**/*.ts",
    "test/**/*.ts"
  ]
}
