import { Auth } from "@confect/server";
import { queryGeneric } from "convex/server";
import { Effect as E, Option as O } from "effect";

import { authKit } from "./workos";

// QUERIES ---------------------------------------------------------------------------------------------------------------------------------
export const findCurrent = queryGeneric({
  args: {},
  handler: (ctx) =>
    E.gen(function* () {
      const auth = yield* Auth.Auth;
      const identity = yield* E.option(auth.getUserIdentity);

      return yield* O.match(identity, {
        onNone: () => E.succeed(O.none<CurrentAuthentication>()),
        onSome: (currentIdentity) =>
          E.promise(() => authKit.getAuthUser(ctx)).pipe(
            E.map((workOSUser) => {
              const synchronizedUser = O.fromNullishOr(workOSUser);

              return O.some({
                identityEmail: O.fromNullishOr(currentIdentity.email),
                workOSUserEmail: O.flatMap(synchronizedUser, (user) => O.fromNullishOr(user.email)),
                workOSUserSynchronized: O.isSome(synchronizedUser),
              });
            })
          ),
      });
    }).pipe(
      E.provide(Auth.layer(ctx.auth)),
      E.map(
        O.map((authentication) => ({
          ...authentication,
          identityEmail: O.getOrNull(authentication.identityEmail),
          workOSUserEmail: O.getOrNull(authentication.workOSUserEmail),
        }))
      ),
      E.map(O.getOrNull),
      E.runPromise
    ),
});

// TYPES -----------------------------------------------------------------------------------------------------------------------------------
interface CurrentAuthentication {
  readonly identityEmail: O.Option<string>;
  readonly workOSUserEmail: O.Option<string>;
  readonly workOSUserSynchronized: boolean;
}
