import { queryGeneric } from "convex/server";
import { Effect as E, Option as O } from "effect";

import { authKit } from "./workos";

// QUERIES ---------------------------------------------------------------------------------------------------------------------------------
export const getCurrentAuthentication = queryGeneric({
  args: {},
  handler: async (ctx) =>
    await E.gen(function* currentAuthenticationWorkflow() {
      const identity = yield* E.promise(async () => await ctx.auth.getUserIdentity());
      if (identity === null) return null;

      const workOSUser = yield* E.promise(async () => await authKit.getAuthUser(ctx));

      return {
        identityEmail: O.getOrNull(O.fromNullishOr(identity.email)),
        workOSUserEmail: O.getOrNull(O.fromNullishOr(workOSUser?.email)),
        workOSUserSynchronized: workOSUser !== null,
      };
    }).pipe(E.runPromise),
});
