import { FunctionSpec, GroupSpec } from "@confect/core";
import * as Schema from "effect/Schema";

import type { findCurrent } from "./authentication";

// SCHEMAS ---------------------------------------------------------------------------------------------------------------------------------
export class AuthenticationRequired extends Schema.TaggedError<AuthenticationRequired>()("AuthenticationRequired", {}) {}

// SPEC ------------------------------------------------------------------------------------------------------------------------------------
export default GroupSpec.make()
  // QUERIES -------------------------------------------------------------------------------------------------------------------------------
  .addFunction(FunctionSpec.convexPublicQuery<typeof findCurrent>()("findCurrent"))
  .addFunction(
    FunctionSpec.publicQuery({
      error: () => AuthenticationRequired,
      name: "getCurrent",
      returns: () =>
        Schema.Struct({
          subject: Schema.String,
          tokenIdentifier: Schema.String,
        }),
    })
  );
