import { Auth, FunctionImpl, GroupImpl } from "@confect/server";
import { Effect as E, Layer as L } from "effect";

import databaseSchema from "./_generated/schema";
import { getCurrentAuthentication } from "./authentication";
import spec, { AuthenticationRequired } from "./authentication.spec";

// QUERIES ---------------------------------------------------------------------------------------------------------------------------------
const getCurrentAuthenticationImpl = FunctionImpl.make(
  databaseSchema,
  spec,
  "getCurrentAuthentication",
  getCurrentAuthentication
);
const getProtectedAuthenticationImpl = FunctionImpl.make(databaseSchema, spec, "getProtectedAuthentication", () =>
  E.gen(function* () {
    const auth = yield* Auth.Auth;
    const identity = yield* auth.getUserIdentity.pipe(E.mapError(() => new AuthenticationRequired()));

    return {
      subject: identity.subject,
      tokenIdentifier: identity.tokenIdentifier,
    };
  })
);

// GROUP -----------------------------------------------------------------------------------------------------------------------------------
export default GroupImpl.make(databaseSchema, spec).pipe(
  L.provide(getCurrentAuthenticationImpl),
  L.provide(getProtectedAuthenticationImpl),
  GroupImpl.finalize
);
