import { Auth, FunctionImpl, GroupImpl } from "@confect/server";
import { Effect as E, Layer as L } from "effect";

import databaseSchema from "./_generated/schema";
import { findCurrent } from "./authentication";
import spec, { AuthenticationRequired } from "./authentication.spec";

// QUERIES ---------------------------------------------------------------------------------------------------------------------------------
const findCurrentImpl = FunctionImpl.make(databaseSchema, spec, "findCurrent", findCurrent);
const getCurrentImpl = FunctionImpl.make(databaseSchema, spec, "getCurrent", () =>
  E.gen(function* () {
    const auth = yield* Auth.Auth;
    const identity = yield* auth.getUserIdentity.pipe(E.mapError(() => new AuthenticationRequired()));

    return {
      subject: identity.subject,
      tokenIdentifier: identity.tokenIdentifier,
    };
  })
);

// GROUP -----------------------------------------------------------------------------------------------------------------------------------
export default GroupImpl.make(databaseSchema, spec).pipe(
  L.provide(findCurrentImpl),
  L.provide(getCurrentImpl),
  GroupImpl.finalize
);
