import { httpRouter } from "convex/server";

import { isWorkOSWebhookConfigured, makeAuthKit } from "./workos";

const http = httpRouter();

if (isWorkOSWebhookConfigured()) makeAuthKit().registerRoutes(http);

export default http;
