import { FunctionImpl, GroupImpl } from "@confect/server";
import { Effect as E, Layer as L, Option as O } from "effect";

import databaseSchema from "./_generated/schema";
import { Auth, QueryCtx } from "./_generated/services";
import identity, { AuthenticationRequired, type CurrentIdentity } from "./identity.spec";
import { authKit } from "./workos";

// QUERIES ---------------------------------------------------------------------------------------------------------------------------------
const findCurrentImpl = FunctionImpl.make(databaseSchema, identity, "findCurrent", () =>
  E.gen(function* () {
    const auth = yield* Auth;
    const ctx = yield* QueryCtx;
    const currentIdentity = yield* E.option(auth.getUserIdentity);

    return yield* O.match(currentIdentity, {
      onNone: () => E.succeed(O.none<CurrentIdentity>()),
      onSome: (authenticatedIdentity) =>
        E.promise(() => authKit.getAuthUser(ctx)).pipe(
          E.map((workOSUser) => {
            const synchronizedUser = O.fromNullishOr(workOSUser);

            return O.some({
              identityEmail: O.fromNullishOr(authenticatedIdentity.email),
              workOSUserEmail: O.flatMap(synchronizedUser, (user) => O.fromNullishOr(user.email)),
              workOSUserSynchronized: O.isSome(synchronizedUser),
            });
          })
        ),
    });
  })
);

const getCurrentImpl = FunctionImpl.make(databaseSchema, identity, "getCurrent", () =>
  E.gen(function* () {
    const auth = yield* Auth;
    const currentIdentity = yield* auth.getUserIdentity.pipe(E.mapError(() => new AuthenticationRequired()));

    return {
      subject: currentIdentity.subject,
      tokenIdentifier: currentIdentity.tokenIdentifier,
    };
  })
);

// GROUP -----------------------------------------------------------------------------------------------------------------------------------
export default GroupImpl.make(databaseSchema, identity).pipe(
  L.provide(findCurrentImpl),
  L.provide(getCurrentImpl),
  GroupImpl.finalize
);
