{
  "$schema": "https://inlang.com/schema/inlang-message-format",
  "calm_green_otter": "Keenko",
  "great_zany_tapir_gaze": "Identity",
  "plain_dark_angelfish_scoop": "Page unknown",
  "quiet_silver_lynx": "My workspace"
}
