{
  "$schema": "https://inlang.com/schema/inlang-message-format",
  "calm_green_otter": "Keenko",
  "great_zany_tapir_gaze": "Identité",
  "plain_dark_angelfish_scoop": "Page inconnue",
  "quiet_silver_lynx": "Mon espace"
}
